---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import MediaSection from "../components/MediaSection.astro";
import AboutSection from "../components/AboutSection.astro";
import TrainingsSection from "../components/TrainingsSection.astro";
import ContactSection from "../components/ContactSection.astro";
import HeaderSection from "../components/HeaderSection.astro";

import "../styles/global.css";
---

<Layout title="Welcome to Lobstars">
  <main class="pb-10">
    <HeaderSection id="header" />
    <HeroSection id="hero" />
    <AboutSection id="about" />
    <MediaSection id="media" />
    <TrainingsSection id="training" />
    <ContactSection id="contact" />
  </main>
</Layout>
