---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import MediaSection from "../components/MediaSection.astro";
import AboutSection from "../components/AboutSection.astro";
import TrainingsSection from "../components/TrainingsSection.astro";
import ContactSection from "../components/ContactSection.astro";
import HeaderSection from "../components/HeaderSection.astro";
import FooterSection from "../components/FooterSection.astro";

import "../styles/global.css";
---

<Layout title="Lobstars Ultimate Frisbee - Berlin">
  <main class="h-full w-full">
    <HeaderSection id="header" />
    <HeroSection id="main" />
    <AboutSection id="about" />
    <MediaSection id="media" />
    <TrainingsSection id="training" />
    <ContactSection id="contact" />
    <FooterSection />
  </main>
</Layout>
