---

import FooterSection from "../components/FooterSection.astro";
import ContactSection from "../components/ContactSection.astro";
import HeaderSection from "../components/HeaderSection.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";
---

<Layout title="Quiz">
    <main class="h-full w-full">
        <HeaderSection id="header" />

        <section class="section-container grid gap-4 px-10 pt-32">
            <h1>Here we learn how to play Ultimate Frisbee</h1>

            <p>
                Rules: <a
                    target="_blank"
                    href="https://rules.wfdf.sport/resources/" style="color: deeppink">WFDF</a> <!-- revise the color -->
            </p>

            <h2>
                Ultimate is a non-contact, self-refereed team sport played with a flying
                disc frisbee.
            </h2>
            <div style="text-align: center;">
                <strong>TBD</strong> &mdash; Container with Quiz
            </div>


        </section>

        <!-- <ContactSection id="contact" /> -->
        <FooterSection />
    </main>
</Layout>