---
import SectionContainer from "./SectionContainer.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div class="bg-dark-purple-900">
  <SectionContainer id={id}>
    <a class="anchor" id={id}></a>
    <div class="mx-auto max-w-4xl text-center">
      <h3 class="text-neon-pink-600">
        Many moons ago… in the bustling city of&nbsp;Berlin…
      </h3>
      <p class="mt-2 text-white">
        A group of ultimate frisbee fans joined together to toss discs and play
        pickup games in Treptower Park casually. Little did they know what they
        started would eventually stretch far beyond the confines of the park. In
        2022, inspired by the love of the game, the rag-tag collection of
        players banded together to form Lobstars. <br /><br />

        Come join the fun-loving, passionate, and international group valuing
        inclusivity and the spirit of the good game. Feel welcome with all kinds
        of players, and help build a stronger community as well as a competitive
        edge. <br /><br />

        We looking forward to meeting you!
      </p>
    </div>
  </SectionContainer>
</div>
