---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="section-container bg-background-secondary">
  <div class="mx-auto xl:max-w-5xl">
    <p class="text-center text-lg text-gray-500">
      Many moons ago, a group of frisbee fans joined together to casually toss
      discs and play pickup games in Treptower Park. Little did they know that
      they would spark a movement that would spread far beyond the confines of
      that little park. Inspired by their love of the game, the rag tag group of
      aficionados banded together to form the Lobstars - a fun-loving,
      passionate, and international team celebrated in Berlin for their
      inclusivity and good spirit. Come play with us!
    </p>
  </div>
</section>
