---
import ContactForm from "./ContactForm";
import SectionContainer from "./SectionContainer.astro";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<SectionContainer id={id}>
  <a class="anchor" id={id}></a>
  <ContactForm client:load />
</SectionContainer>
