---
import ContactForm from "./ContactForm.jsx";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="section-container">
  <ContactForm client:load />
</section>
