---
import ContactForm from "./ContactForm";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section class="section-container">
  <a class="anchor" id={id}></a>
  <ContactForm client:load />
</section>
