---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="section-container pb-24">
  <div class="space-y-2 text-center text-main">
    <p>Interested in joining a training? Other questions? Let us know!</p>
    <p>
      Send us an email at <span class="font-bold text-secondary"
        >lobstars.bvb@<span style="display:none;">ignore-</span>gmail.com</span
      >
    </p>
  </div>
</section>
