---
import { Image } from "astro:assets";
import instagram from "../assets/instagram.png";
---

<footer class="mt-20 border-t border-secondary">
  <div
    class="mx-auto flex max-w-screen-xl items-center justify-between px-10 pb-10 pt-5"
  >
    <a
      class="text-sm font-bold text-secondary underline sm:text-base"
      target="_blank"
      rel="noopener noreferrer"
      href="https://svbvb49.de/frisbee">SV BVB 49 e.V.</a
    >
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.instagram.com/lobstarsfrisbee"
    >
      <div class="flex w-8 flex-col items-center space-y-1">
        <Image src={instagram} alt="lobstars logo" />
        <p class="text-sm font-bold text-secondary sm:text-base">
          @lobstarsfrisbee
        </p>
      </div>
    </a>
  </div>
</footer>
