<footer class="mt-20 border-t-2 border-neon-pink-dark">
  <div
    class="mx-auto flex max-w-screen-xl items-center justify-between px-10 pb-10 pt-5"
  >
    <div class="space-y-1">
      <p>
        <a
          class="text-sm font-bold text-neon-pink-dark hover:underline sm:text-base"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.svbvb49.de/abteilungen/frisbee">SV BVB 49 e.V.</a
        >
      </p>
      <p>
        <a
          href="/imprint"
          class="text-sm font-bold text-neon-pink-dark hover:underline sm:text-base"
          >Imprint</a
        >
      </p>
    </div>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.instagram.com/lobstarsfrisbee"
    >
      <p
        class="text-sm font-bold text-neon-pink-dark hover:underline sm:text-base"
      >
        @lobstarsfrisbee
      </p>
    </a>
  </div>
</footer>
