---
import claw from "../assets/claw.png";
import { Image } from "astro:assets";

interface Props {
  id: string;
}

const { id } = Astro.props;

const trailingLinks = [
  {
    href: "/",
    label: "Home",
  },
  {
    href: "/ultimate",
    label: "What is Ultimate?",
  },
];
---

<header id={id} class="bg-neon-pink-600 fixed left-0 right-0 z-50">
  <nav
    class="mx-auto flex h-12 max-w-screen-xl items-center justify-between px-10 py-2"
  >
    <a href="/">
      <div class="w-16">
        <Image
          src={claw}
          alt="lobstars logo"
          quality="med"
          widths={[250, 400]}
          sizes="(max-width: 450px) 250, 400px"
        />
      </div>
    </a>
    {
      trailingLinks.length > 0 && (
        <div class="text-neon-pink-900 flex gap-4 text-sm font-bold sm:text-base">
          {trailingLinks.map(({ label, href }) => (
            <a href={href}>{label}</a>
          ))}
        </div>
      )
    }
  </nav>
  <div class="border-neon-pink-900 border-2 border-b"></div>
</header>
