---
import claw from "../assets/claw.png";
import { Image } from "astro:assets";
import NavMenu, { type MenuItem } from "./NavMenu.tsx";

interface Props {
  id: string;
}

const { id } = Astro.props;

const menuItems: MenuItem[] = [
  {
    type: "link",
    href: "/",
    label: "Home",
  },
  {
    type: "dropdown",
    label: "Learn",
    children: [
      {
        type: "link",
        href: "/ultimate",
        label: "What is Ultimate?",
      },
      {
        type: "link",
        href: "/quiz",
        label: "Quiz",
      },
    ],
  },
  {
    type: "link",
    href: "/media",
    label: "Media",
  },
];
---

<header id={id} class="fixed left-0 right-0 z-50 bg-neon-pink-light">
  <nav
    class="mx-auto flex h-12 max-w-screen-xl items-center justify-between px-4 py-2"
  >
    <a href="/">
      <div class="w-16">
        <Image
          src={claw}
          alt="lobstars logo"
          quality="med"
          widths={[250, 400]}
          sizes="(max-width: 450px) 250, 400px"
        />
      </div>
    </a>
    <NavMenu client:load menuItems={menuItems} />
  </nav>
  <div class="border-2 border-b border-neon-pink-dark"></div>
</header>
