---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<header class="py-4 bg-gray-100">
  <nav class="flex justify-center">
    <a href="#contact" class="text-gray-500">Contact</a>
  </nav>
</header>
