---
import logo from "../assets/logo.png";
import { Image } from "astro:assets";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<header
  class="fixed left-0 right-0 z-50 border-b border-secondary bg-background"
>
  <nav
    class="mx-auto flex max-w-screen-xl items-center justify-between px-10 py-2"
  >
    <a href="#hero">
      <Image src={logo} alt="lobstars logo" quality="low" width={40} />
    </a>
    <div class="flex gap-4 text-sm font-bold text-secondary sm:text-base">
      <a href="#training">Train With Us</a>
      <a href="#contact">Contact</a>
    </div>
  </nav>
</header>
