---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<header class="sticky top-0 z-50 bg-background">
  <nav
    class="flex justify-end gap-4 border-b border-secondary p-4 text-xs font-bold text-secondary sm:text-base"
  >
    <a href="#training">Train With Us</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
