---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<header class="sticky left-0 bg-gray-100">
  <nav class="mx-auto flex max-w-screen-xl justify-end">
    <a href="#contact" class="text-gray-500">Contact</a>
  </nav>
</header>
