---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import team from "../assets/team.jpg";
import ContentContainer from "./ContentContainer.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section
  id={id}
  class="mx-auto flex min-h-screen max-w-screen-xl flex-col items-center justify-center px-10 py-24"
>
  <a class="anchor" id={id}></a>
  <div
    class="flex flex-col items-center justify-center gap-10 sm:flex-row-reverse"
  >
    <div class="w-2/3 sm:w-2/5">
      <Image
        src={logo}
        alt="Lobstars logo"
        quality={50}
        widths={[350, 500, 700]}
        loading="eager"
        sizes="(max-width: 450px) 350, (max-width: 800) 500px, 700px"
      />
    </div>
    <div class="sm:w-3/5">
      <ContentContainer>
        <Image
          src={team}
          alt="Lobstars Ultimate Frisbee Teamphoto in Lichtenberg"
          widths={[350, 500, 800]}
          sizes="(max-width: 450px) 350, (max-width: 800) 500px, 800px"
          loading="eager"
          quality={50}
        />
      </ContentContainer>
    </div>
  </div>
  <div class="flex flex-col gap-6">
    <div class="text-center">
      <h1 class="mt-3 text-base font-bold sm:text-lg">
        Lobstars Ultimate Frisbee
      </h1>
      <h3>SV BVB 49 e.V. | Berlin Lichtenberg</h3>
    </div>
    <div class="flex justify-center gap-4">
      <a href="/#training">
        <button>Train With Us</button>
      </a>
      <a href="/#contact">
        <button>Contact</button>
      </a>
    </div>
  </div>
</section>
