---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import team from "../assets/team.jpg";

interface Props {
  id: string;
}

const { id } = Astro.props;

const imageProps = {
  widths: [240, 400, 600],
  sizes: "(max-width: 360px) 240px, (max-width: 800) 400px, 600px",
  quality: 20,
};
---

<section
  id={id}
  class="hero-container flex h-screen flex-col items-center justify-center gap-10 sm:flex-row-reverse"
>
  <div class="w-2/3 sm:w-2/5">
    <Image src={logo} alt="lobstars logo" loading="eager" quality={50} />
  </div>
  <div class="sm:w-3/5">
    <div class="content-container">
      <Image
        src={team}
        alt="lobstars team"
        loading="eager"
        widths={[350, 500, 700]}
        sizes="(max-width: 450px) 350, (max-width: 800) 500px, 700px"
        quality={50}
      />
    </div>
  </div>
</section>
