---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import team from "../assets/team.jpg";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section
  id={id}
  class="hero-container flex h-screen flex-col items-center justify-center gap-10 sm:flex-row-reverse"
>
  <div class="w-2/3 sm:w-2/5">
    <Image
      src={logo}
      alt="lobstars logo"
      loading="eager"
      densities={[1.5, 2]}
    />
  </div>
  <div class="sm:w-3/5">
    <div class="content-container">
      <Image
        src={team}
        alt="lobstars team"
        loading="eager"
        densities={[1.5, 2]}
        quality={"high"}
      />
    </div>
  </div>
</section>
