---
import { Image } from "astro:assets";
import team2 from "../assets/team-2.jpg";
import team3 from "../assets/team-3.jpg";
import team4 from "../assets/team-4.jpg";
import team5 from "../assets/team-5.jpg";
import action2 from "../assets/action-2.jpg";
import action3 from "../assets/action-3.jpg";
import action4 from "../assets/action-4.jpg";
import action1 from "../assets/action-1.jpg";

interface Props {
  id: string;
}

const { id } = Astro.props;

const imageProps = {
  widths: [350, 400, 600],
  sizes: "(max-width: 450px) 350px, (max-width: 800) 400px, 600px",
  quality: 30,
};

const photos = [team3, action1, action3, team5, team4, action4, action2, team2];
---

<section class="section-container" id={id}>
  <div class="mt-4 grid gap-6 sm:grid-cols-2">
    {
      photos.map((photo, i) => (
        <div class="content-container">
          <Image src={photo} alt={`team-photo-${i + 1}`} {...imageProps} />
        </div>
      ))
    }
  </div>
</section>
