---
import { Image } from "astro:assets";
import MediaImage from "./MediaImage.astro";

import team2 from "../assets/team-2.jpg";
import team3 from "../assets/team-3.jpg";
import team4 from "../assets/team-4.jpg";
import team5 from "../assets/team-5.jpg";
import action2 from "../assets/action-2.jpg";
import action3 from "../assets/action-3.jpg";
import action4 from "../assets/action-4.jpg";
import action1 from "../assets/action-1.jpg";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section class="section-container">
  <div class="mt-4 grid gap-6 sm:grid-cols-2">
    <MediaImage imagePath="/src/assets/team-3.jpg" altText="team photo" />
    <MediaImage imagePath="/src/assets/action-1.jpg" altText="team photo" />
    <MediaImage imagePath="/src/assets/action-3.jpg" altText="team photo" />
    <MediaImage imagePath="/src/assets/team-5.jpg" altText="team photo" />
    <MediaImage imagePath="/src/assets/team-4.jpg" altText="team photo" />
    <MediaImage imagePath="/src/assets/action-4.jpg" altText="team photo" />
    <MediaImage imagePath="/src/assets/action-2.jpg" altText="team photo" />
    <MediaImage imagePath="/src/assets/team-2.jpg" altText="team photo" />
  </div>
</section>
