---
import TrainingView from "./TrainingView.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="section-container flex flex-col lg:flex-row">
  <div class="lg:w-1/2">
    <TrainingView
      title="Outdoor Training"
      day="Wednesday"
      time="18:30"
      address="Sportverein Berliner Verkehrs-Betriebe 49 e.V, Siegfriedstraße 71, 10365 Berlin"
      googleMapURL="https://maps.app.goo.gl/Q6oawo5PQGuAqEjo7"
    />
  </div>
  <div class="lg:w-1/2">
    <TrainingView
      title="Indoor Training"
      day="Saturday"
      time="12:00"
      address="Sporthalle der Grundschule am Röderplatz, Elli-Voigt-Straße 9-8, 10367 Berlin"
      googleMapURL="https://maps.app.goo.gl/teZL7DiNjGibmvbQA"
    />
  </div>
</section>
