---
import SectionContainer from "./SectionContainer.astro";
import TrainingView from "./TrainingView.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<SectionContainer id={id}>
  <a class="anchor" id={id}></a>
  <div class="flex flex-col gap-10 lg:flex-row lg:gap-20">
    <div class="max-w-2xl lg:w-1/2">
      <TrainingView
        title="Outdoor Training"
        day="Wednesday Evenings"
        time="18:45"
        place="Sportverein Berliner Verkehrs-Betriebe 49 e.V"
        address="Siegfriedstraße 71, 10365 Berlin"
        openMapURL="https://www.openstreetmap.org/?mlat=52.52968&mlon=13.50018#map=19/52.52968/13.50018"
        openMapIframeSrc="https://www.openstreetmap.org/export/embed.html?bbox=13.497312963008882%2C52.52867132796529%2C13.503055572509767%2C52.53069303250278&layer=mapnik&marker=52.52968219186747%2C13.500184267759323"
        googleMapURL="https://maps.app.goo.gl/Q6oawo5PQGuAqEjo7"
      />
    </div>
    <div class="max-w-2xl lg:w-1/2">
      <TrainingView
        title="Indoor Training"
        day="Saturday Afternoons"
        time="16:00"
        address="Otto-Marquardt-Straße 12-14, 10369 Berlin, Germany"
        place="Nils-Holgersson-Schule"
        openMapURL="https://www.google.com/maps/place/Nils-Holgersson-Schule/@52.5336455,13.4706618,17z/data=!3m1!4b1!4m6!3m5!1s0x47a84e7f7388ba67:0x9adc675158cdb329!8m2!3d52.5336455!4d13.4706618!16s%2Fg%2F11c454xs76?entry=ttu&g_ep=EgoyMDI1MTAyMC4wIKXMDSoASAFQAw%3D%3D"
        openMapIframeSrc="https://www.openstreetmap.org/export/embed.html?bbox=13.467473387718202%2C52.53263143177868%2C13.475584387779238%2C52.53527456563115&layer=mapnik&marker=52.53395301859232%2C13.471528887748718"
        googleMapURL="https://www.google.com/maps/place/Nils-Holgersson-Schule/@52.5336455,13.4706618,17z/data=!3m1!4b1!4m6!3m5!1s0x47a84e7f7388ba67:0x9adc675158cdb329!8m2!3d52.5336455!4d13.4706618!16s%2Fg%2F11c454xs76?entry=ttu&g_ep=EgoyMDI1MTAyMC4wIKXMDSoASAFQAw%3D%3D"
      />
    </div>
  </div>
  <p class="text-main mt-10 text-center text-sm">
    <a class="anchor" id="training-note"></a>
    <span class="font-bold">* Note:</span> Training times are subject to change.
    Send us a message to confirm the training times before you come.
  </p>
</SectionContainer>
