---
import TrainingView from "./TrainingView.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="flex flex-col p-4 lg:flex-row">
  <div class="lg:w-1/2">
    <TrainingView
      title="Outdoor Training"
      day="Wednesday"
      time="18:30"
      address="Sportverein Berliner Verkehrs-Betriebe 49 e.V, Siegfriedstraße 71, 10365 Berlin"
      openMapURL="https://www.openstreetmap.org/#map=19/52.53000/13.50082"
      openMapIframeSrc="https://www.openstreetmap.org/export/embed.html?bbox=13.499598205089569%2C52.52941703611357%2C13.502044379711151%2C52.53059023621278&layer=mapnik"
      googleMapURL="https://maps.app.goo.gl/Q6oawo5PQGuAqEjo7"
    />
  </div>
  <div class="lg:w-1/2">
    <TrainingView
      title="Indoor Training"
      day="Saturday"
      time="12:00"
      address="Sporthalle der Grundschule am Röderplatz, Elli-Voigt-Straße 9-8, 10367 Berlin"
      openMapURL="https://www.openstreetmap.org/#map=19/52.52885/13.48261"
      openMapIframeSrc="https://www.openstreetmap.org/export/embed.html?bbox=13.48138600587845%2C52.528261754208124%2C13.483832180500032%2C52.52943498516897&layer=mapnik"
      googleMapURL="https://maps.app.goo.gl/teZL7DiNjGibmvbQA"
    />
  </div>
</section>
