---

---

<style>
  .quiz-container {
    /* border: 2px dashed #ccc; */
    border-radius: 4px;
    background-color: #fff;
    padding: 16px;
    height: 500px;
  }
</style>

<div class="quiz-container">
  <slot />
</div>
